@charset "utf-8";

body {background: #669983; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#669983, #e0ebe7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#669983, #e0ebe7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#669983, #e0ebe7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#669983, #e0ebe7); /* Standard syntax (must be last) */
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:justify;
	font-size:14px;
		}
	

#container{
	width: 960px;
	 margin: 0 auto;
	 background-color: #e0ebe7;
	}
#header {
    background: #669983; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#215142, #e0ebe7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#215142, #e0ebe7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#215142, #e0ebe7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#215142, #e0ebe7); /* Standard syntax (must be last) */
    color:white;
    text-align:center;
	height: 100px;
    padding:15px;	
}

#slideshow{
	position:relative;
	}

#slideshow img{
	width:960px;
	height:300px;
	}

#backward{
	position:absolute;
	left:px;
	top: 150px;
	}

#forward{
	position:absolute;
	left:930px;
	top: 150px;
	}

h1 {
	font-size:40px;
	font-weight: bold;
	text-shadow: 6px 5px 5px #215142;
	
	}

#nav {
	background: #669983; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #215142,#669983, #e0ebe7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #215142,#669983, #e0ebe7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #215142,#669983, #e0ebe7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #215142, #669983,#e0ebe7); /* Standard syntax (must be last) */
    height:700px;
    width:125px;
    float:left;
    	} 

#section {
    width:545px;
    float:left;
    padding:15px; 
}

a:link    {color:white;
	 background-color:transparent; 
	 text-decoration:none;
	 }

a:visited { 
    color: #c2d6ce;
    text-decoration: none;
    }	 

#sidebar{
	background:  #e0ebe7; 
    float:left;
	margin-top: 10px;
	padding: 10px;	
	
	}
	
#sidebar img{
	margin-left:15px;
	
	}

#location{
	float:left;
	}

#footer {
    background: #669983; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#215142,#669983); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#215142, #669983); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#215142,#669983); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#215142, #669983); /* Standard syntax (must be last) */
    color:white;
    clear:both;
    padding:5px; 
	font-size:12px;
	height:200px;
	}

hr { 
    display: block ;
    margin-top:0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style:inset;
    border-width: 7px;
	border-color: #A17E46;
} 

ul.menu {
	list-style-type:none;
	padding-left:10px;
	}
	
ul.menu.li {
	/*padding:3px;	*/
	}	
	
ul.menu li a {
    height: 45px;
     display: inline-block;
     padding-left: 200px;
     background: url("images/menu_sprite.png") no-repeat ;    
     }
	
ul.menu li.home a {background-position: 0 30.769231%;
	}
ul.menu li.things_to_do a{background-position: 0 61.538462%;}
ul.menu li.where_to_stay a{background-position: 0 76.923077%;}
ul.menu li.wine_and_dine a{background-position: 0 92.307692%;}
ul.menu li.events a{background-position: 0 0%;}
ul.menu li.gallery a{background-position: 0 15.384615%;}
ul.menu li.information a{background-position: 0 46.153846%; }

ul.menu li.home a:hover {background-position: 0 38.461538%; }
ul.menu li.things_to_do a:hover {background-position: 0 69.230769%;}
ul.menu li.where_to_stay a:hover{background-position: 0 84.615385%;}
ul.menu li.wine_and_dine a:hover{background-position: 0 100%;}
ul.menu li.events a:hover{background-position: 0 7.692308%;}
ul.menu li.gallery a:hover{background-position: 0 23.076923%;}
ul.menu li.information a:hover{background-position: 0 53.846154%; }

#footer_menu {
    width:200px;
    float:left;
    padding:5px;
	margin-left:15px; 
}

#social_media {
    width:315px;
    float:left;
    padding:5px;
	
		 
}

.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 5px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
      background: url("images/social_media_sprite.png") no-repeat ;    
     }
	 
.icons a.twitter {background-position: 0 -310px; background-size: 100%; }
.icons a.pinterest {background-position: 0 -183px; background-size: 100%; }
.icons a.flickr {background-position: 0 -65px; background-size: 100%;}
.icons a.facebook {background-position: 0px 0px; background-size: 100%;}
.icons a.sharethis {background-position: 0 -243px; background-size: 100%;}
.icons a.youtube {background-position: 0 -366px; background-size: 100%;}
.icons a.googleplus {background-position: 0 -120px; background-size: 100%;}

.icons a.twitter:hover {background-position: 0 -337px; background-size: 100%; }
.icons a.pinterest:hover {background-position: 0 -217px; background-size: 100%; }
.icons a.flickr:hover {background-position: 0 -95px; background-size: 100%;}
.icons a.facebook:hover{background-position: 0 -34px; background-size: 100%;}
.icons a.sharethis:hover{background-position: 0 -278px; background-size: 100%;}
.icons a.youtube:hover{background-position: 0 -400px; background-size: 100%;}
.icons a.googleplus:hover{background-position: 0 -156px; background-size: 100%;}

#search {
       float:left;
    padding:5px;
	margin-left:50px;
	 
}

h4 {
	text-shadow: 6px 5px 5px #215142;
	margin:3px;
	 color:#c2d6ce;
	}

h2 {
	text-shadow: 6px 5px 5px #215142;

	}
	
h3 {
	text-shadow: 2px 2px 2px #669983;

	}
	
#copyright{
	 text-align:center;
	 font-size:10px;
	 width:960px;
    float:left;
    padding:3px;	
	}	

#recources{
	margin-top: 1px;
	padding: 2px;	
    background: #669983; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #e0ebe7,#669983, #215142); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #e0ebe7,#669983, #215142); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#e0ebe7,#669983, #215142); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #e0ebe7,#669983, #215142); /* Standard syntax (must be last) */
	line-height:25px;
	}	
	
#table{
	width:700px;
	border:0px;
	cellpadding:5px;
			}	
	
.td{
	padding-left:30px;
	}	

#css_buttons{
	text-align:right;
	background-color:#215142;
	}
	
/* CSS Document */

/* CSS Document */

